<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>藥物會員</title>
    <link rel="stylesheet" href="/static/login.css" type="text/css">
</head>

<body>
    <div class="header wrap">
        <h1>藥物功效查詢</h1>
        <ul class="menu">
            <li><a href="/">首頁</a></li>
            <li><a href="/login">登入</a></li>
        </ul>
    </div>
    <div class="title">
        <h1 style="margin-top: 10%;"><img src="https://i.imgur.com/MMn2vqZ.png" width="80" height="80"  />會員登入</h1>
    </div>
    <div class="login">
        <div class="shadow">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <br>帳號:&nbsp;<input type="text" name="username" placeholder="&nbsp;&nbsp;請輸入會員帳號">
                <br>密碼:&nbsp;<input type="password" name="password" placeholder="&nbsp;&nbsp;請輸入會員密碼">
                <br><div class="int"><input type="submit" value="登入"></div>
            </form>
            <br><a href="{% url 'register' %}">沒有會員？點我註冊</a>
        </div>
    </div>
</body>

</html>